.heading {
    background-color: gray;
    margin-top: 10px;
    padding-bottom: opx;
}

.title {
    padding-top: 10px;
    padding-bottom: 0px;
    color: #CFCFC4;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 0px;
}

ul {
    list-style: none;
}

.nav-elem {
    background-color: #CFCFC4;
    border-top: 1px white solid;
    border-left: 1px white solid;
    border-bottom: 1px white solid;
}

li.selected > * {
    background-color: #a6a6a6;
}

.logo {
    height: 40px;
    width: 40px;
    border: 1px white solid;
}

.logo-center {
    padding-top: 5px;
}

.channel {
    height: 50px;
    border: 1px white solid;
}

.channel-name {
    padding-top: 15px;
}

.channel-status {
    padding-top: 5px;
}

.online {
    background-color: #77DD77;
    color:  #666666;
}

.offline {
    background-color: #779ECB;
    color: #666666;
}

.invalid {
    background-color: #CFCFC4;
    color: #666666;
}